.md-wrapper
    color: #333
    hr
        margin: 40px 0
        border: none
        height: 3px!important
        background-color: #ddd
        background-image: repeating-linear-gradient(-45deg,#fff,#fff 4px,transparent 0,transparent 8px)
    pre
        margin: 3% 0
        overflow-x: auto
        background-color: #f8f8f8
        padding: 10px
        b
            font-family: sans-serif
        code
            background-color: #f8f8f8
        .hljs
            padding: 5px
            font-size: 13px
    ol,ul
        padding-left: 15px
        line-height: 2em
    code
        background-color: #ffede8
        color: #f44336
        padding: 3px 5px
    h1,h2,h3,h4,h5
        font-weight: 600!important
        margin-bottom: 1.5em!important
        margin-top: 1.5em!important
    h1
        font-size: 2em
    h2
        font-size: 1.75em
    h3
        font-size: 1.5em
    h4
        font-size: 1.25em
    h5
        font-size: .75em
    p
        .image
            display: block
            margin: 2em 0
            width: 100%
            text-align: center