.RightSideBar
    width: 300px
    padding: 0 20px
    .jumpWriteBtn
        width: 100%
        margin-bottom: 10px
    a
        display: block
    .ad
        width: 100%
        height: 220px
        background-size: 100%
        background-position: center
        background-repeat: no-repeat
        margin-bottom: 10px
    .topRight
        width: 260px
        top: 0
        transition: all .3s
    .scrollingRight
        position: fixed
        top: 30px

