.top-nav
    display: inline-flex
    width: 100%
    justify-content: space-between
    align-items: center
    padding: 0 200px
    user-select: none
    box-shadow: 0 0 3px 1px #ddd

    .left
        display: inline-flex
        justify-content: center
        align-items: center
        .logo
            .ant-menu
                border: none
    .right
        border: none
        .ant-menu-item
            display: flex
            align-items: center
        .avatar
            background-image: url(../img/defaultAvatar.png)
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            display: block
            width: 20px
            height: 20px
        .userItem
            cursor: default
            background-color: #fff!important
            span
                cursor: pointer

.ant-dropdown
    width: 300px
    border: 1px solid #eee
    user-select: none
    z-index: 999!important
    .logout
        display: flex
        align-items: center
    .ant-menu-item-selected
        background-color: #ddd
    .ant-menu-item
        a
            display: flex
            align-items: center
p
    margin-bottom: 0!important