.userInfoSetting
    display: flex
    width: 400px
    flex-wrap: wrap
    .ant-form-item
        display: inline-flex
        width: 300px
        &-label
            width: 70px
            margin-right: 30px
    .ant-form-explain
        padding-left: 100px