.userInfoSetting
    display: flex
    width: 600px
    flex-wrap: wrap
    .ant-form-item
        display: inline-flex
        width: 500px
        &-label
            width: 70px
            margin-right: 30px
    .ant-form-explain
        padding-left: 100px
    .career
        display: inline-flex
        position: relative
        padding-bottom: 10px
        .ant-form-item-label
            flex-shrink: 0
        &-active
            &:hover .add-btn > div
                display: block
        .ant-form-item-children
            display: block
        .company-wrapper
            display: flex
            flex-wrap: wrap
            .company-group
                display: inline-flex
                width: 300px
                align-items: center
                .minus
                    margin-bottom: 24px
                .ant-form-item-children
                    margin-right: 10px
                    display: inline-flex
    .add-btn
        text-align: center
        height: 30px
        line-height: 28px
        width: 300px
        display: flex
        justify-content: center
        position: absolute
        bottom: -20px
        > div
            width: 70px
            border: 1px solid #333
            border-radius: 5px
            cursor: pointer
            display: none
            span
                margin-left: 5px